body {
  /* background-color: #200000; */
  background: url("https://images.unsplash.com/photo-1504519560822-bed2d817f87f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fafbfc;
  font-family: "Ubuntu Mono", monospace;
  font-weight: bold;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.outer-container {
  min-height: 90vh;
  margin: 5vh 0px;
  width: 90vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.inner-container {
  display: flex;
  flex-direction: column;
}

.card-outer {
  background-color: #202020;
  opacity: 0.9;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 80vw;
  max-width: 500px;
  border: solid 1px #fafbfc10;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: border-color 3s;
  -webkit-transition: border-color 3s;
  -moz-transition: border-color 3s;
  -ms-transition: border-color 3s;
  -o-transition: border-color 3s;
}

/* .card-outer:only-child {
  max-width: 500px;
} */

/* .card-outer .media-wrapper {
  width: 100%;
  background-color: #303030;
  overflow: hidden;
  border: none;
  outline: none;
  padding: 10px 1rem;
  box-sizing: border-box;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(66px, 1fr));
  gap: 1rem;
  overflow: auto;
}

.card-outer .media-wrapper img,
.card-outer .media-wrapper .input-media {
  box-shadow: 0px 10px 15px #202020;
  cursor: pointer;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.card-outer .media-wrapper .input-media {
  height: 100px;
  display: none;
  width: 66px;
  background-color: #101010;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.card-outer .media-wrapper .invisible-input {
  display: none;
}
.card-outer .media-wrapper .media-item {
  display: flex;
  margin-right: 0.5rem;
}
.card-outer .media-wrapper .media-item .buttons-wrapper {
  position: absolute;
  width: 60px;
  box-sizing: border-box;
  display: none;
}
.card-outer .media-wrapper .media-item button {
  background-color: #303030cc;
  border: 2px solid;
  box-sizing: border-box;
  height: 100px;
  padding: 0px;
  margin: 0px;
  width: 30px;
}
.card-outer .media-wrapper .media-item .delete-media {
  color: #ff2000;
  border-color: #ff2000;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.card-outer .media-wrapper .media-item .open-media {
  color: #20ffff;
  border-color: #20ffff;
}
.card-outer .media-wrapper :not(.media-item:hover) .buttons-wrapper {
  display: none;
}
.card-outer .media-wrapper .media-item:hover button:hover {
  box-shadow: 0px 0px 10px currentColor;
} */

.card-outer .content {
  background-color: #fafbfc10;
  display: flex;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: #fafbfc;
  font-family: "Ubuntu Mono", monospace;
  resize: none;
  border: 1px solid transparent;
  outline-color: transparent;
  height: 100%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.card-outer .content:focus,
.card-outer .title:focus {
  border: 1px solid transparent !important;
  outline: transparent;
}

.card-outer .title {
  background-color: #fafbfc10;
  display: flex;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: #fafbfc;
  font-family: "Ubuntu Mono", monospace;
  font-weight: bold;
  outline-color: transparent;
  border: 1px solid transparent;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.card-outer .creation-time {
  font-weight: normal;
  font-size: 0.8rem;
}
.card-outer .footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.outer-container .footer-id {
  /* background-color: #20ff00; */
  align-self: flex-end;
  font-weight: normal;
  font-size: 0.8rem;
}
.card-outer .card-header .header-button {
  background-color: transparent;
  color: #fafbfc;
  height: 30px;
  width: 50px;
  border: none;
  font-size: 1rem;
  text-align: center;
  vertical-align: center;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  outline: none;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.card-outer .card-header .header-button:hover {
  background-color: #303030;
  color: #fafbfc;
}
.card-outer .card-header .header-button:active {
  background-color: #101010;
  color: #fafbfc;
}
.card-outer .card-header .header-options {
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
  align-items: center;
}

.card-outer .card-header .hidden,
.card-outer .media-wrapper .hidden,
.hidden {
  display: none;
}

.card-outer .card-header .header-options .positive-style {
  color: #20ff00;
  text-shadow: 0px 0px 10px #20ff0070;
  font-family: "Ubuntu Mono", monospace;
  font-weight: bold;
}
.card-outer .card-header .header-options .negative-style {
  color: #ff2000;
  text-shadow: 0px 0px 10px #ff220070;
}
.card-outer .card-header .header-options span.negative-style {
  font-family: "Ubuntu Mono", monospace;
  font-weight: bold;
}
.card-outer .card-header .header-options .neutral-style {
  color: #20ffff;
  text-shadow: 0px 0px 10px #20ffff70;
}
.card-outer ::selection {
  background-color: #101010;
  color: #ff2000;
}
.card-outer ::-moz-selection {
  background-color: #101010;
  color: #ff2000;
}
.card-outer ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.card-outer ::-webkit-scrollbar-track {
  background: #fafbfc;
}
.card-outer ::-webkit-scrollbar-thumb {
  background: #ff2000;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.card-outer ::-webkit-scrollbar-thumb:hover {
  background: #aa2000;
}

.header-outer {
  box-sizing: border-box;
  /* padding: 0px 25px; */
  display: flex;
  justify-content: space-between;
  width: 140;
  margin-bottom: 5vh;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.header-outer .header-button {
  color: #101010;
  border: 0px solid transparent;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  outline: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  cursor: pointer;
}
.header-outer .header-button:active {
  background-color: rgba(32, 255, 00, 0.6);
}
.header-outer .searchbox {
  display: flex;
  padding: 5px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.header-outer .searchbox .search-field {
  background-color: #ff2000;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0px 25px;
  outline: none;
  color: #fafbfc;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1rem;
}

.header-outer .searchbox .search-field::placeholder {
  color: #1010107f;
  font-weight: bold;
}
.header-outer .searchbox .search-button {
  color: #101010;
  background-color: #ff2000;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  outline: none;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  cursor: pointer;
}
.header-outer .searchbox .search-button:active {
  background-color: rgba(48, 48, 48, 0.3);
}

.neutral {
  background-color: #20ffff;
}
.neutral-text {
  text-shadow: 0px 0px 10px #20ffff70;
  color: #20ffff;
  font-weight: bold !important;
}
.positive {
  background-color: #20ff00;
  box-shadow: 0px 10px 10px #004400;
}
.positive-text {
  color: #20ff00;
  text-shadow: 0px 0px 10px #004400;
}
.negative {
  background-color: #ff2000;
  box-shadow: 0px 10px 10px #440000;
}
.negative-text {
  color: #ff2000;
  text-shadow: 0px 0px 10px #ff200070;
}
